/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open{
    transform: scale(1);
    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close{
    transform: scale(0);
    /* transform: translateY(-150%); */
}

@keyframes xx {
    0 {transform: translate(0px,0px);}
    55% {transform: translate(0px,20px);}
    60% {transform: translate(0px,20px);}
    100% {transform: translate(0px,0px);}
  }

.animate-fly {
    animation: xx 4s infinite  alternate;
    position: absolute;
    right: 1.6rem;
}